@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

#stars {
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
  background: midnightblue;
  width: 400px;
  height: 225px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}


#bgCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Убираем канвас за другие элементы */
}

.stats_container {
  position: absolute;
  left: 100px;
  top: 100px;
  font-family: "Roboto Condensed", serif;
  font-style: normal;
  width: 400px;
  height: 225px;
}

.inner_block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(/static/img/cool.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  color: hsla(0, 0%, 98%, 0.67);
}

.inner_block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(115deg, rgb(255 255 255 / 0%), rgb(0 2 28 / 5%));
  filter: contrast(1.2);
  z-index: 1;
}

.inner_block > * {
  position: relative;
  z-index: 2; /* Убедитесь, что контент поверх затемнения */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.stat_container__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.stat_block {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.stats_block {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 12px 0;
  border: 0.1px solid;
}

.name_data {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-style: italic;
  width: 50px;
  font-weight: 800;
  background-color: snow;
  color: #31346b;
}

.data {
  font-style: italic;
  font-size: 35px;
  font-weight: 800;
  color: snow;
  width: 80px;
  text-align: center;
}

.three_blocks {
  position: absolute;
  margin: 0 15px 0 0;
  top: -75px;
  right: 50px;
  transition: opacity 1s ease;
}

.last {
  margin-bottom: 0;
}

.lvl_block {
  flex-direction: column;
  font-size: 90px;
  color: rgba(255, 99, 132, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.lvl {
  font-size: 20px;
}

.firepower {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  padding: 5px 0px;
  width: 132px;
  background-color: #31346b;
  color: #fff;
}

.data_firepower {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #31346b;
  width: 253px;
  z-index: 1;
  border: 1px solid #31346b;
}

.fp_background {
  position: fixed;
  top: 8px;
  left: 155px;
  height: 39px;
  margin: 0;
  width: inherit;
  display: block;
  background-color: #31346b;
  z-index: 0;
}

.title {
  background: #31346b35;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  color: #fff;
  margin-top: 12px;
}

#radarChart {
  position: absolute;
  top: -100px;
  right: 15px;
  width: 200px !important;
  height: 200px !important;
  z-index: 10;
  transition: opacity 1sease;
}

h1 {
  font-family: sans-serif;
  position: absolute;
  top: 37px;
  left: 105px;
}
